# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## User Defined
# Incremental Compile
*.depend

# Visualization
*.cdv
*.png
*.gif

# Input/Output
*.dat
*.dump
!sample.dump

# HPC job-script
job.sh*
